* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 350px;
  border: 0.5px solid #f6f8f9;
}

.calc-container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 4rem;
  background-color: gray;
  color: #fff;
  padding: 8px;
  font-size: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 3rem;
  padding: 1rem;
  border: 0.5px solid #c6c6c6;
}

.span {
  grid-column: span 2;
}

.gray {
  background-color: #e3e3e3da;
}

.orange {
  background-color: darkorange;
}
