* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  background-color: #fff;
  font-family: 'comic Sans MS', sans-serif;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 5px 0 3rem;
}

.nav {
  display: flex;
}

.ul {
  display: flex;
  list-style-type: none;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.main-container {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  justify-content: center;
  gap: 30px;
}

.calculator-content {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.calculator-title {
  width: 30%;
  margin-right: 20rem;
}

.calculator {
  width: 600px;
  border: 0.5px solid #f6f8f9;
}

.calc-container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 4rem;
  background-color: gray;
  color: #fff;
  padding: 8px;
  font-size: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.quotes-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  color: black;
  font-size: 30px;
  margin-top: 20%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 3rem;
  padding: 1rem;
  border: 0.5px solid #c6c6c6;
}

.span {
  grid-column: span 2;
}

.gray {
  background-color: #e3e3e3da;
}

.orange {
  background-color: darkorange;
}
